.form
{
    position: relative;
    padding: 130px 0 210px 0;
    background: #02133C;
    &::before
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-image: url(../../assets/image/back/Gears.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        transform:matrix(1.00,0.00,0.00,1.00,0,0);
        -ms-transform:matrix(1.00,0.00,0.00,1.00,0,0);
        -webkit-transform:matrix(1.00,0.00,0.00,1.00,0,0);
    }
    &::after
    {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background-image: url(../../assets/image/back/Gears.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        transform:matrix(1.00,-0.00,-0.00,-1.00,0,0);
        -ms-transform:matrix(1.00,-0.00,-0.00,-1.00,0,0);
        -webkit-transform:matrix(1.00,-0.00,-0.00,-1.00,0,0);

    }
    &__wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__contact
    {
        position: relative;
        padding: 76px 57px;
        z-index: 2;
        background: #ffff;
        width: 585px;
        display: flex;
        flex-direction: column;
        .forms
        {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__row
            {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 22px;
            }
            input
            {
                width: 224px;
                height: 48px;
                background: #F5F5F5;
                padding-left: 22px;
                font-size: 16px;
                outline: 0;
                border: none;
            }
            select
            {
                width: 224px;
                height: 48px;
                background: #F5F5F5;
                text-align: center;
                font-size: 16px;
                outline: 0;
                border: none;
            }
            textarea
            {
                width: 100%;
                font-family: Roboto;
                background: #F5F5F5;
                padding: 17px 0 0 22px;
                font-size: 16px;
                outline: 0;
                border: none;
                resize: none;
            }
            .status
            {
                position: absolute;
                bottom: -20px;
            }
        }
    }
    &__btn
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__counter
    {
        width: 324px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .counter
        {
            margin: 46px 0;
        }
        span
        {
            font-weight: 900;
            font-size: 96px;
            line-height: 56px;
            color: #C40B0B;
        }
    }
}