
.header
{
    position: absolute;
    top: 13vh;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    .nav
    {
        height: 60px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 45px;
        ul
        {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            li
            {
                position: relative;
                float: left;
                display: flex;
                margin: 0 15px 0 15px;
                a
                {
                    position: relative;
                    margin-right: 4px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.15px;
                    color: #02133C;
                    text-decoration: none;
                    transition: .3s;
                }
                & img
                {
                    cursor: pointer;
                    transition: .4s;
                }
                &:hover > .icon img
                {
                    transform: rotate(180deg);
                }
                ul
                {
                    position: absolute;
                    display: none;
                    padding-top: 18px;
                    left: -25%;
                    opacity: 0;
                    padding: 5px;
                    top: 400%;
                    width: 200px;
                    background: rgb(255, 255, 255);
                    li
                    {
                        width: 100%;
                        margin: 0;
                        transition: .3s;
                        a
                        {
                            padding: 10px;
                        }
                        &:hover
                        {
                            background: rgb(228, 216, 216);
                            transition: .3s;
                            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                            a
                            {
                                letter-spacing: 1.5px;
                            }
                        }
                    }
                }
                &:focus-within > ul,
                &:hover > ul
                {
                    display: initial;
                    animation: test .5s;
                    animation-fill-mode: forwards;
                }
                
            }
        }

        .menu-item
        {
            display: flex;
            .search
            {
                margin-right: 27px;
            }
            .basket
            {
                position: relative;
                a
                {
                    span
                    {
                        width: 16px;
                        height: 16px;
                        background: #C40B0B;
                        border-radius: 50%;
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 22px;
                        color: #fff;
                    }
                }
            }
        }

        .hamburger-menu
        {
            display: flex;
            width: 50px;
            height: 40px;
            position: relative;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            z-index: 10;
            span
            {
                position: absolute;
                width: 40px;
                height: 3px;
                background:#C40B0B;
                left: 5px;
                border-radius: 4px;
                transition: .4s;
                &:nth-child(1)
                {
                    width: 25px;
                    left: 5px;
                    transform: translateY(-15px);
                }
                &:nth-child(2)
                {
                    width: 15px;
                    left: 5px;
                    transform: translateY(15px);
                }
            }
            .menu-active
            {
                span
                {
                    &:nth-child(3)
                    {
                    transform: translateX(50px);
                    }
                    &:nth-child(1)
                    {
                        width: 40px;
                        transform: translateY(0px) rotate(45deg);
                        transition-delay: 0.125s;
                    }
                    &:nth-child(2)
                    {
                        width: 40px;
                        transform: translateY(0px) rotate(315deg);
                        transition-delay: 0.25s;
                    }
                }
            }
        }
    }
}

#menu-bar
{
    display: none;
}
#menu-bar:checked ~ .nav-mb
{
    display: initial;
    opacity: 1;
    top: 100%;
    transition: 0.5s;
}

@keyframes test 
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        top: 100%;
    }
}