.overfooter
{
    padding: 40px 70px;
    width: 1020px;
    margin: 0 auto;
    position: relative;
    top: -75px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2
    {
        font-size: 24px;
    }
}