.service
{
    padding: 108px 0 122px 0;
    position: relative;
    // background-image: url(../../assets/image/back/Gears.png), url(../../assets/image/back/Gears.png);
    background-position: 0 0, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    transform: rotate(0deg), rotate(90deg);
    &::before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background-image: url(../../assets/image/back/Gears.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        transform:matrix(-1.00,0.00,0.00,1.00,0,0);
        -ms-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
        -webkit-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    }
    &::after
    {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-image: url(../../assets/image/back/Gears.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        transform:matrix(1.00,-0.00,-0.00,-1.00,0,0);
        -ms-transform:matrix(1.00,-0.00,-0.00,-1.00,0,0);
        -webkit-transform:matrix(1.00,-0.00,-0.00,-1.00,0,0);

    }
    &__wrapper
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        justify-items: center;

    }
}